* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "poppins";
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 40%;
    background-color: aliceblue;
    border-radius: 1rem;
    margin: 5rem auto;
    gap: 1rem;
    box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
}

form h1 {
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    font-size: .8rem;
}

form div input {
    border-radius: .2re,;
    border: none;
    padding: .3rem;
}

form div textarea {
    border-radius: .2re,;
    border: none;
    padding: .3rem;
}

form div select {
    border-radius: .2re,;
    border: none;
    padding: .3rem;
}

form button {
    border: none;
    border-radius: .3rem;
    width: 30%;
    padding: .4rem;
    margin: 0 auto;
    background-color: aquamarine;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(69, 218, 169);
}

